1. What is Python, and why is it popular?

ANS : Python is a high-level, interpreted programming language known for its simple syntax and readability. It is popular because it supports multiple paradigms (procedural, object-oriented, functional), has a large standard library, strong community support, and is widely used in data science, web development, automation, and more.

2. What is an interpreter in Python?
ANS :
An interpreter is a program that reads and executes Python code line by line, converting it into machine

3. What are pre-defined keywords in Python?
ANS :

Keywords are reserved words in Python that have special meaning and cannot be used as identifiers (e.g., if, else, while, import, etc.).

4. Can keywords be used as variable names?
No, keywords cannot be used as variable names because they are reserved for specific syntactic use.

5. What is mutability in Python?
Mutability refers to whether an object can be changed after it is created. Mutable objects can be changed; immutable ones cannot.

6. Why are lists mutable, but tuples are immutable?
Lists are designed to be flexible and allow modifications, while tuples are intended for fixed data collections and thus do not support modification after creation.

7. What is the difference between “==” and “is” operators in Python?
== checks value equality (whether values are the same).

is checks identity (whether they are the same object in memory).

8. What are logical operators in Python?
Logical operators are:

and: returns True if both conditions are True

or: returns True if at least one condition is True

not: inverts the boolean value

9. What is type casting in Python?
Type casting is converting one data type into another, such as from int to float, str to int, etc.

10. What is the difference between implicit and explicit type casting?
Implicit: Done automatically by Python.

Explicit: Manually done using functions like int(), float(), str(), etc.

11. What is the purpose of conditional statements in Python?
They allow decisions in code execution based on conditions, helping create branching logic.

12. How does the elif statement work?
elif stands for “else if.” It checks another condition if previous conditions were False.

13. What is the difference between for and while loops?
for is used when the number of iterations is known.

while is used when the loop should continue until a condition becomes False.

14. Describe a scenario where a while loop is more suitable than a for loop.
When reading user input until a specific value is entered, a while loop is better since the number of iterations isn't known in advance.

In [5]:
print("Hello, World!")

Hello, World!

In [6]:
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is Alice and I am 25 years old.

In [7]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
import keyword
word = input("Enter a word: ")
print(f"{word} is a keyword: {keyword.iskeyword(word)}")

Enter a word: A
A is a keyword: False

In [9]:
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

my_list[0] = 10  # Works
print("Modified list:", my_list)

try:
    my_tuple[0] = 10  # Error
except TypeError:
    print("Cannot modify a tuple!")

Modified list: [10, 2, 3]
Cannot modify a tuple!

In [10]:
def modify(x, y):
    x += 1
    y.append(4)
    print("Inside function:", x, y)

a = 10
b = [1, 2, 3]
modify(a, b)
print("Outside function:", a, b)  # a is unchanged (immutable), b is changed (mutable)

Inside function: 11 [1, 2, 3, 4]
Outside function: 10 [1, 2, 3, 4]

In [11]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b if b != 0 else "Cannot divide by zero")

Enter first number: 888
Enter second number: 855
Addition: 1743.0
Subtraction: 33.0
Multiplication: 759240.0
Division: 1.03859649122807

In [12]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b if b != 0 else "Cannot divide by zero")

Enter first number: 65
Enter second number: 45
Addition: 110.0
Subtraction: 20.0
Multiplication: 2925.0
Division: 1.4444444444444444

In [13]:
a = 5
b = 10
print(a > 0 and b > 0)  # True
print(a > 0 or b < 0)   # True
print(not(a > 0))       # False

True
True
False

In [14]:
s = input("Enter a value: ")
print("As integer:", int(s))
print("As float:", float(s))
print("As boolean:", bool(s))

Enter a value: 484
As integer: 484
As float: 484.0
As boolean: True

In [15]:
string_numbers = ["1", "2", "3"]
int_numbers = list(map(int, string_numbers))
print(int_numbers)

[1, 2, 3]

In [16]:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 451
Positive

In [17]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
even_sum = sum(i for i in range(1, 51) if i % 2 == 0)
print("Sum of even numbers:", even_sum)

Sum of even numbers: 650

In [19]:
s = input("Enter a string: ")
i = len(s) - 1
reversed_str = ''
while i >= 0:
    reversed_str += s[i]
    i -= 1
print("Reversed:", reversed_str)

Enter a string: 45
Reversed: 54

In [20]:
num = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= num:
    factorial *= i
    i += 1
print("Factorial:", factorial)

Enter a number: 556
Factorial: 367743159875853837025867240921098006558068376175959905446619210878484984229545393921965012257888323238536824512933243118355360974323905023932519897960178050744154309023663376132977821958201291875888965201229276964028689972211176335969423308165218139315129538424462766609532363818012649788798603615414641183347137737269733454887535570825219963409724357498664851097379435988707733918182961949216983576217115860206930824851326559265923440841608899042860938411146348994625889682952026610587209613288778620576224626992886804106057047976413841872563909188957948482341506688191419788594005234887414617545588561794264380313669259617216186981914324905165883742917246944259709664584767218471269129985147480529732000602936388383796150509101694402057843200323375516790621664089491769718733776213145858124924178462083765853788984009782516571734154456406557476875448477255999367435198411094207571670028125546936966274383863323195480276273524645165599549877231629779589762610527146959224161952636913664211892494608104976519717497858334380855773895410604169393902125637082967565295655512605146127252211358927462186334433930913496659800779369958410459836960005003673600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000